.page-up-wrapper{
    .arrow-content{
        .arrow-block{
            background-color: #303030;;
            font-size: 25px;
            color: #ccc;
            display: inline-block;
            padding: 0px 17px;
            border-radius: 6px 6px 0px 0px;
            position: absolute;
            bottom: 0px;
            right: 85px;
            cursor: pointer;
        }
    }   
}