#code_level_section{
    .main-container{
        .container{
            background-color: rgb(24, 39, 100);
            padding: 30px 25px;
            .content-wrapper{
                margin: 0px 15px;
                .content-inner-wrapper{

                    .heading{
                        font-size: 28px;
                        margin-top: 10px;
                        margin-bottom: 15px;
                        h2{
                            margin: 0;
                            font-size: 1em;
                            line-height: 42px;
                            color: #ffffff;
                            font-weight: bold;
                        }
                    }
                    .desc{
                        p{
                            color: #fff;
                            max-width: 95%;
                        }
                    }
                    .img{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}