#services_banner{
    .services-main-container{
        background-color: #fff;
        padding: 60px 0px;
        .container{
            max-width: 1250px;

            a{
                &:hover{
                    color:red
                }
            }
            
            .services-heading{
                display: flex;
                justify-content: center;
                margin: 0 auto;
                
                width: 50%;
                border-bottom: 1px solid #444444;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 40px;
                
                h2{
                    margin: 20px 0px;
                    font-size: 1em;
                    line-height: 25px;
                    letter-spacing: 2px;
                    color: #000;
                    font-weight: bold;
                }
            }

            .services-list-preview{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                color: #000;
                
            }
        }
    }
}