.main-container{
    .inner-container{
        .description-content{
            padding-bottom:30px;
            text-align: center;
            width: 75%;
            margin: 0 auto;
            transition: all .2s ease-in-out;
            
            &:hover {
                transform: scale(1.1);
                
            }
            .heading{
                font-size: 36px;
                margin-top: 10px;
                margin-bottom: 15px;
                position: relative;
                h2{
                    font-weight: bold;
                    .green-text{
                        color: #97b325;
                    }
                }
                
                h3{
                    font-weight: bold;
                    &::after{
                        content: "";
                        height: 3px;
                        width: 22%;
                        background-color: #97b325;
                        position: absolute;
                        top: 45px;
                        transform: translateX(50%);
                        right: 50%;
                    }
                }
            }
            .description{
                p{
                    font-size: 20px;
                    margin-top: 40px;
                }
            }
        }
    }
}